@model List<QL_PHONGGYM.Models.KhachHang>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="ketQuaTimKiem">
    @Html.Partial("_DanhSachHoiVien", Model)
</div>

@section scripts {
    <script>
        function FilterData() {
            var tuKhoa = $('#txtTuKhoa').val();
            var maLoai = $('#ddlMaLoai').val();

            $.ajax({
                url: '/HoiVien/Index',
                type: 'GET',
                data: {
                    tuKhoa: tuKhoa,
                    maLoai: maLoai
                },
                success: function (res) {
                    $('#ketQuaTimKiem').html(res);
                },
                error: function () {
                    alert("Có lỗi xảy ra khi tải dữ liệu!");
                }
            });
        }

    </script>
}
<script>
    function deleteMember(id) {
        if (confirm('Bạn có chắc muốn xóa hội viên này?')) {
            $('#msgAlert').hide();

            $.ajax({
                url: '@Url.Action("Delete", "AdminMember")',
                type: 'POST',
                data: { id: id },
                success: function (res) {
                    if (res.success) {
                        location.reload();
                    } else {
                        $('#msgAlert').remove();
                        alert(res.message);
                    }
                },
                error: function() {
                    $('#msgAlert').remove();
                    alert("Lỗi hệ thống! Vui lòng thử lại sau.");
                }
            });
        }
    }
</script>